<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mapper.IStudentMapper">



    <!--
        强制推荐每个Mapper有一个结果映射 这样子可以让数据库和javaBean解耦 维护方便
        id 表示唯一表示 需要和<select><insert>等标签中的 resultMap 相对应
        type 表示javaBean
        autoMapping 表示是否让mybatis进行自动映射(只要)
        extends="" 表示可以进行继承
        -->

    <resultMap id="studentResultMap" type="student" autoMapping="true" >
        <!-- id 主键使用
             result 其他列使用
             column 数据库字段
             property javaBean 属性字段-->
        <id column="no" property="no"/>
        <result column="name" property="name"  />
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="emial" property="emial"/>
        <result column="birth" property="birth"/>
    </resultMap>







    <select id="selectAll" resultMap="studentResultMap">
        select no, name, age, sex, emial, birth
        from t_student where name=#{array[0]} or  name=#{array[1]};
    </select>




    <!--
         useGeneratedKeys="true" 表示获取自动增长的主键值
         keyProperty="no" 表示将获取到的值放入实体类的哪一个字段里
     -->
    <insert id="insertOne" parameterType="student" useGeneratedKeys="true" keyProperty="no">
        insert into t_student(no, name, age, sex, emial, birth)
        values (#{no}, #{name}, #{age}, #{sex}, #{emial}, str_to_date(#{birth}, '%Y-%m-%d'));
    </insert>

    <delete id="deleteOne" >
        delete
        from t_student
        where no = #{no};
    </delete>


<!--    传递多个参数 使用注解方式  我们在映射接口中使用
                                                @Param("name") String name
                                                @Param("no") int no

        当传递和个参数的时候 包含JavaBean 和其他类型的时候 使用注解的形式 接受参数使用 #{Student.name}
        当传递List 的时候 myBatis会帮我们封装成{key:list,value:.......}
                                              我们使用list[index] 获取参数 list[0],list[1].........
                                              也可以使用@Param("array") 注解指定名称 获取参数array[0],array[1]
                                                  -->
    <update id="update" >
        update t_student
        set name=#{Student.name}
        where no = #{no};
    </update>

</mapper>