<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mapper.EmpMapper">
    <resultMap id="empResultMap" type="com.jason.dao.EMP">
        <id property="id" column="EMPNO"/>
        <result property="name" column="ENAME"/>
        <result property="job" column="JOB"/>
        <result property="mgr" column="MGR"/>
        <result property="hiredate" column="HIREDATE"/>
        <result property="sal" column="SAL"/>
        <result property="comm" column="COMM"/>
        <result property="deptID" column="DEPTNO"/>
    </resultMap>


    <!--
        <where>
        <if test="id !=null">
            EMPNO=#{id}  //id是根据@Param注解进行设定的
        </if>
        <if test="name !=null">
            or ENAME=#{name}
        </if>
    </where>

    if 标签会自动去除掉不满足条件的语句

    where 标签 当where 后面没有条件语句的时候会不会添加where关键字,当有条件的时候才添加

    -->


    <select id="selectOne" resultMap="empResultMap">
        select EMPNO,
        ENAME,
        JOB,
        MGR,
        HIREDATE,
        SAL,
        COMM,
        DEPTNO
        from emp
        <where>
            <if test="id !=null and id != 0">
                EMPNO=#{id}
            </if>
            <if test="name != null and name.length >0">
                <foreach item="item" index="index" collection="name" open=" or ENAME in (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


    <resultMap id="empAndDeptResultMap" type="com.jason.dao.EmpAndDept" extends="empResultMap">
        <association property="dept" resultMap="com.jason.mapper.DeptMapper.deptResultMap"/>
    </resultMap>
    <select id="empAndDept" resultMap="empAndDeptResultMap">
        select e.EMPNO    as EMPNO,
               e.ENAME    as ENAME,
               e.JOB      as JOB,
               e.MGR      as MGR,
               e.HIREDATE as HIREDATE,
               e.SAL      as SAL,
               e.COMM     as COMM,
               e.DEPTNO   as DEPTNO,
               d.DNAME    as DNAME,
               d.LOC      as LOC
        from emp as e
                 left outer join dept as d on e.DEPTNO = d.DEPTNO


    </select>


    <!--
        association:进行多对一映射
            property 对应映射中的"一"
        collection:进行一对多映射
            property 对应映射中的 "多"

      -->
    <resultMap id="DeptAndEmpResultMap" type="com.jason.dao.DeptAndEmp"
               extends="com.jason.mapper.DeptMapper.deptResultMap">
        <collection property="empList" resultMap="empResultMap"/>

    </resultMap>
    <select id="deptAndEmpResultMap" resultMap="DeptAndEmpResultMap">
        select d.DNAME    as DNAME,
               d.LOC      as LOC,
               e.EMPNO    as EMPNO,
               e.ENAME    as ENAME,
               e.JOB      as JOB,
               e.MGR      as MGR,
               e.HIREDATE as HIREDATE,
               e.SAL      as SAL,
               e.COMM     as COMM,
               e.DEPTNO   as DEPTNO

        from dept as d
                 left outer join emp as e on e.DEPTNO = d.DEPTNO
        where e.EMPNO is not null
    </select>

</mapper>